#btn1{
    margin-left: 50px;
    margin-block-end: 2cm;

}

#btn2{
    margin-left: 90px;
    margin-block-end: 2cm;
}

#btn3{
    margin-left: 90px;
    margin-block-end: 2cm;
}

#btn4{
    margin-left: 90px;
    margin-block-end: 2cm;
}

#btn5{
    margin-left: 85px;
    margin-block-end: 2cm;
}

#btn6{
    margin-left: 85px;
    margin-block-end: 2cm;
}