*{
    margin: 0;
    padding: 0;
}

body h1{
    padding: 235px;
    background-size:  100% 100%;
    background-image: url(../img/HV.jpeg);
    text-align: center;
    font-size: 50px;
    color: rgb(207, 23, 84);
  }

